header{

}

body{
	font-family: Arial, Helvetica, sans-serif;
	
  background-color: #e5e5e5;
}

h1{
	font-size: 50px;
}

#content{
	text-align: center;
}

#pnlButton{

	margin-top: 250px;
	text-align: center;
}



a{
	font-size: 24px;

    background-color: #f44336;

	border-style: solid;
    border-width: 3px;
    border-color: #f44336;

    color: white;

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
	border-style: solid;
    border-width: 3px;
    border-color: #f11003;
    background-color: #f33225;
}